<!DOCTYPE html>
<html>
  <head>
    <title>TurboDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%#= turbo_refreshes_with method: :replace, scroll: :reset %>
    <%#>= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= yield :head %>
  </head>

  <body>
    <div style='position:fixed; background-color: silver; top: 0;'>
      <p id="notice"><%= notice %></p>
      <%= Time.zone.now%>
    </div>

    <main style="padding:30px;">
      <%= yield %>
    </main>
  </body>
</html>
